@media (max-width: 1024px) {
    .promo {
        padding: 21px 20px 93px 20px;
    }
}

@media (max-width: 540px) {
    .header {
        flex-direction: column;
        &__logo {
            img {
                width: 250px;
            }
        }
        &__official {
            margin-top: 20px;
            font-size: 19px;
            span {
                font-size: 24px;
            }
        }
        &__contacts {
            margin-top: 20px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        &__header {
            text-align: center;
            font-size: 40px;
        }
        &__subheader {
            text-align: center;
            font-size: 25px;
        }
        &__icons {
            width: 100%;
        }
        &__wrapper {
            align-items: center;
        }
    }

    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
}