.advantages {
    min-height: 470px;
    padding: 70px 0 83px 0;
    background-color: #F6F6F6;
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 278px;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        a {
            color: #FF0000;
            text-decoration: underline;
        }
    }
    &__icon {
        &_animated {
            animation-name: heartbeating;
            animation-duration: 2s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }
}